body{
    background-color: black;
}
.hangngang{
    background-color: black;
    display: flex;
    justify-content: center;
    border: 1px black;
    margin-top: 30px;
}
.box{
    border: 1px black;
    border-radius: 
}
.boxdown{
    padding: 5px;
    border: 1px purple;
    margin: auto;
    width: 50%;
    

}